@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

html,
body {
    scroll-behavior: smooth;
    min-height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header>h1,
#main>section>h2 {
    font-family: 'Black Ops One', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}

#snek {
    position: relative;
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    transform: translateX(-50%) translateY(-50%);
}

.spinner {
    position: absolute;
    top: 2rem;
    left: 0;
    height: 1rem;
    width: 1rem;
}

.spinner>.item {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: #fff;
    -webkit-animation: move 0.5s linear infinite;
    animation: move 0.5s linear infinite;
}

.spinner>.item:nth-of-type(1) {
    top: -1rem;
    left: -1rem;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.spinner>.item:nth-of-type(2) {
    top: -1rem;
    left: 0;
    -webkit-animation-delay: -0.0625s;
    animation-delay: -0.0625s;
}

.spinner>.item:nth-of-type(3) {
    top: -1rem;
    left: 1rem;
    -webkit-animation-delay: -0.125s;
    animation-delay: -0.125s;
}

.spinner>.item:nth-of-type(4) {
    top: 0;
    left: 1rem;
    -webkit-animation-delay: -0.1875s;
    animation-delay: -0.1875s;
}

.spinner>.item:nth-of-type(5) {
    top: 1rem;
    left: 1rem;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.spinner>.item:nth-of-type(6) {
    top: 1rem;
    left: 0;
    -webkit-animation-delay: -0.3125s;
    animation-delay: -0.3125s;
}

.spinner>.item:nth-of-type(7) {
    top: 1rem;
    left: -1rem;
    -webkit-animation-delay: -0.375s;
    animation-delay: -0.375s;
}

.spinner>.item:nth-of-type(8) {
    top: 0;
    left: -1rem;
    -webkit-animation-delay: -0.4375s;
    animation-delay: -0.4375s;
}

@-webkit-keyframes move {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes move {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#loading,
#loading-text,
#loading pre {
    text-align: center;
}

#loading-text {
    margin-top: 4rem;
}

#loading pre {
    color: firebrick;
}

.dnone {
    display: none;
}

#preset-headline {
    margin: 1rem 2.5rem 1rem 0;
}

#dl-button {
    margin: 0 auto;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
}

#dl-button:hover {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
}

#dl-button-feedback {
    position: absolute;
    left: -2rem;
    display: inline-block;
    transform: scale(1.3);
}

#dl-button-desc {
    font-size: 0.66rem;
    font-style: italic;
}

#main>section>header+table {
    margin-top: 1.5rem;
}

#mods-body tr td {
    vertical-align: middle;
}

#mods-body tr:hover {
    background-color: rgba(0, 118, 209, 0.13);
}

#mods-body tr td h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: inline-block;
}

#mods-body tr td h3+label {
    zoom: 1.5;
    margin-right: -2px;
}

#mods-body tr td h3+label+sup {
    font-style: italic;
    float: right;
    margin-top: 2px;
}

#mods-body tr.submod td {
    padding-left: 2rem;
}

#mods-body tr.submod td:before {
    content: '⤷';
    position: relative;
    left: -0.5rem;
    opacity: 0.2;
    margin-left: -0.7rem;
}

#mods-body label.not-optional,
#mods-body label.not-optional input,
#mods-body label.disabled,
#mods-body label.disabled input {
    cursor: default;
}

#mods-body input[type=checkbox] {
    margin-right: 0;
    margin-bottom: 0;
}

#mods-body tr td label {
    margin-bottom: 0;
    cursor: pointer;
    float: right;
}

#mods-body tr td label:active input {
    transform: translateY(2px);
}

summary {
    text-align: center;
}

summary:focus,
summary:hover {
    text-decoration: none;
}

summary:focus span,
summary:hover span {
    text-decoration: underline;
}

#footer {
    text-align: center;
}

#footer sup {
    font-size: 0.6rem;
}

#dialog-header {
    padding: 10px 20px;
}

#modal-title {
    font-weight: bold;
    text-align: left;
    max-width: 585px;
}

#modal-title>a:hover {
    text-decoration: none;
}

#modal-title>code {
    padding: 2.5px 10px 2.5px 0;
}

#modal-title+form {
    margin-left: 15px;
}

#dialog-header button {
    padding: 7px;
    margin: 0;
}

#dialog-header button:focus,
#dialog-content input[type=checkbox]:focus {
    border: 0;
    box-shadow: none;
}

#dialog-content {
    max-width: 638px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px 20px;
    margin: -10px -30px -10px;
}

#dialog-content .pic-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#dialog-content .pic-container img {
    max-height: 470px;
}

#dialog-content .details {
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.85rem;
}

#dialog-content .description {
    word-wrap: break-word;
    font-size: 0.85rem;
}

#dialog-content .description h1 {
    clear: both;
    color: #5aa9d6;
    line-height: 23px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

#dialog-content .description h2 {
    clear: both;
    color: #5aa9d6;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 6px;
}

#dialog-content .description h2.bb_h2 {
    clear: both;
    color: #5aa9d6;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 6px;
}

#dialog-content .description h2.bb_tag {
    margin-top: 20px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 15px;
    color: #2f89bc;
    text-transform: none;
    letter-spacing: 0px;
}

#dialog-content .description h2.bb_tag strong {
    font-weight: 500;
}

#dialog-content .description h2.bb_tag+br {
    display: none;
}

#dialog-content .description h3 {
    clear: both;
    color: #5aa9d6;
    line-height: 19px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 6px;
}

#dialog-content .description ul,
#dialog-content .description ol {
    margin: 5px;
}

#dialog-content .description ul.bb_ul {
    margin: 0 0 0 16px;
    padding: 0;
    list-style-type: square;
    padding-inline-start: 0.2em;
}

#dialog-content .description ul.bb_ul>li {
    list-style-position: outside;
    margin-bottom: 8px;
}

#dialog-content .description span.spoiler {
    color: #000;
    background-color: #000;
    padding: 0px 8px;
}

#dialog-content .description span.spoiler * {
    color: #000;
    background-color: #000;
}

#dialog-content .description span.spoiler:hover {
    color: #fff;
}

#dialog-content .description span.spoiler:hover * {
    color: inherit;
    background-color: inherit;
}

#dialog-content .description pre {
    border: 1px solid #535354;
    border-radius: 3px;
    padding: 12px;
    margin: 8px;
    font-size: 11px;
    font-family: Consolas, monospace;
    white-space: pre;
    white-space: pre-wrap;
    overflow-x: auto;
}

dialog+.backdrop {
    background: rgba(0, 0, 0, .61);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.filepond--label-action {
    text-decoration-color: var(--links);
}

.filepond--item-panel {
    background-color: var(--button-base);
}

.filepond--item:hover .filepond--panel .filepond--item-panel {
    background-color: var(--focus) !important;
}

.filepond--panel-top:after, .filepond--panel-bottom:before {
    background-color: transparent;
}

.filepond--drip-blob {
    background-color: var(--button-base);
}

.filepond--file {
    color: var(--text-main);
}

.filepond--panel-root {
    background-color: var(--background-alt);
}

.filepond--drop-label {
    cursor: pointer;
}

.filepond--drop-label:hover {
    border: 2px dashed var(--focus);
    border-radius: 0.5em;
}

.filepond--drop-label label {
    color: var(--text-main);
    font-family: 'Black Ops One', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
}

.filepond--item[data-filepond-item-state='idle'] {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    #footer a.github {
        fill: #c6cbd1;
    }
}
